@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    font-family: "Roboto";
}

.register-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.homepage {
    flex-grow: 1;
    background-image: url('https://wallpaperaccess.com/full/1673318.jpg');
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}
.nav-container {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}

.signup-section {
    flex-grow: 1;
    background-color: #6b0f1a;
    background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
        display: flex;
    flex-direction: column;
}

.form-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    background-color: #ffffff;
    border-radius: 10px;
    width: 300px;
}

@media (min-width:768px) {
    .signup-form {
        width: 500px;
    }
}

.forgot-password {
    color: #380036;
}

