@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    font-family: "Roboto";
}

.register-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.homepage {
    flex-grow: 1;
    background-image: url('https://wallpaperaccess.com/full/710044.jpg');
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}
.nav-container {
    background-color: #923cb5;
    background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%);}

.signup-section {
    flex-grow: 1;
    background-color: #e056fd;
    background-image: linear-gradient(315deg, #e056fd 0%, #000000 74%);
    display: flex;
    flex-direction: column;
}

.form-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    background-color: #ffffff;
    border-radius: 10px;
    width: 300px;
}

@media (min-width:768px) {
    .signup-form {
        width: 500px;
    }
}

.forgot-password {
    color: #380036;
}

.dashboard {
    min-height: 100vh;
    background-color: #9921e8;
    background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-details-card {
    border-radius: 8px;
    background-color: #ffffff;
    padding: 15px;
}

.image-card {
    text-align: center;
}

.image {
    width: 200px;
    margin-bottom: 10px;
}

.text {
    color:darkorchid;
    font-weight: bold;
}

span {
    color: orange;
    font-weight: 700;
    font-style: italic;
}

.admin-dashboard {
    min-height: 100vh;
    background-color: #9921e8;
    background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90vw;
}

.user-card {
    width: 23vw;
    display: flex;
    flex-direction: column;
    background-color: coral;
    padding: 15px;
    border-radius: 10px;
}

.user-avatar {
    width:200px;
}

.admin-heading {
    font-weight: bold;
}

.admin-description {
    color: #ffffff;
    font-weight: 700;
}

